.projects-cards{
    display: flex;
    justify-content:center;
    flex-flow: wrap;
    max-width: 1060px;
    margin: 58px auto;
}

.projects-cards > div{
    width: 29.3%;
    height: 351px;
    margin-bottom: 56px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    position: relative;
    color: #fff;
    background: url(../images/screen.jpg);
}

.projects-cards > div:hover .prject-discription{
    transform: translateY(0%);
}


.projects-cards > div > div:nth-child(1) > h2{
    margin-bottom: 15px;
}
.projects-cards > div > div:nth-child(1) > p{
    line-height: 28px;
}

.prject-discription{
    width: 100%;
    height: 100%;
    transform: translateY(108%);
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to top, #4a4469, white 70%);
    color: #000;
}
.view-proj-btn{
    padding: 11px 20px;
    text-decoration: none;
    color: #000;
    background: white;
    margin-top: 15px;
    border-radius: 20px;
    border: saddlebrown;
    font-size: 14px;
}
.view-proj-btn:hover{
    letter-spacing: 1px;
    color: #000;
}
/*=============Media screen========================*/
@media screen and (max-width:900px){
    .projects-cards > div{
    width: 93%;
    margin: auto;
    margin-bottom: 23px;
    }
}
